import { defineComponent, App } from 'vue';

const {{cname}} = defineComponent({
  name: '',
  props: {},
  setup() {
    return {};
  },
  methods: {},
  render() {
    return (
      <span>
      </span>
    );
  },
})
{{cname}}.install = function(app: App) {
  app.component({{cname}}.name, {{cname}});
  return app;
};
export default {{cname}}
